<?xml version="1.0"?>
<launch>
    <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>

    <!-- MDRS for default origin / auto for first fix as origin -->
    <arg name="origin" default="MDRS"/>

    <node pkg="gps_goal" type="gps_goal" name="gps_goal" output="screen">
        <param name="frame_id" value="map"/>
    </node>

    <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" output="screen">
        <param name="local_xy_frame" value="/map"/>
        <param name="local_xy_origin" value="$(arg origin)"/> <!-- setting "auto" here will set the origin to the first GPS fix that it recieves -->
        <remap from="gps" to="gps"/>
        <rosparam param="local_xy_origins"> [{ name: MDRS, latitude: 43.0852459944, longitude: -77.6783761986, altitude: 0.0, heading: 0.0}] </rosparam>
    </node>

</launch>