<?xml version="1.0"?>
<launch>

    <arg name="cmd_vel_topic" default="cmd_vel"/>
    <arg name="odom_topic" default="ekf/odom"/>
    <arg name="global_frame" default="map"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="base_frame" default="base_link"/>
    <arg name="laser_frame" default="laser"/>
    <arg name="scan_topic" default="scan"/>
    <arg name="use_safezone" default="false"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

        <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
        <remap from="odom" to="$(arg odom_topic)"/>

        <!-- MOVE_BASE YAML PARAMETERS -->
        <rosparam if="$(arg use_safezone)" file="$(find tt_start)/config/obstacle_layer_common_safezone.yaml"
                  command="load" ns="global_costmap"/>
        <rosparam if="$(arg use_safezone)" file="$(find tt_start)/config/obstacle_layer_common_safezone.yaml"
                  command="load" ns="local_costmap"/>
        <rosparam unless="$(arg use_safezone)" file="$(find tt_start)/config/obstacle_layer_common_no_safezone.yaml"
                  command="load" ns="global_costmap"/>
        <rosparam unless="$(arg use_safezone)" file="$(find tt_start)/config/obstacle_layer_common_no_safezone.yaml"
                  command="load" ns="local_costmap"/>

        <rosparam file="$(find tt_start)/config/costmap_common_params.yaml"
                  command="load" ns="global_costmap"/>
        <rosparam file="$(find tt_start)/config/costmap_common_params.yaml"
                  command="load" ns="local_costmap"/>

        <rosparam file="$(find tt_start)/config/global_costmap_params.yaml" command="load"/>
        <rosparam file="$(find tt_start)/config/local_costmap_params.yaml" command="load"/>
        <!--<rosparam file="$(find tt_start)/config/base_local_planner_params.yaml" command="load"/>-->
        <rosparam file="$(find tt_start)/config/teb_local_planner_params.yaml" command="load"/>
        <!--<rosparam file="$(find tt_start)/config/costmap_converter_params.yaml" command="load"/>-->

        <!-- MOVE_BASE PARAMETERS -->
        <param name="footprint_padding" value="0.01"/> <!-- TODO ? -->
        <param name="controller_frequency" value="10.0"/>
        <param name="controller_patience" value="15.0"/>
        <param name="oscillation_timeout" value="30.0"/>
        <param name="oscillation_distance" value="0.5"/>
        <param name="planner_patience" value="5.0"/>
        <!--If the frequency is set to 0.0, the global planner will only run when a new goal is received or
            the local planner reports that its path is blocked-->
        <param name="planner_frequency" value="0.0"/>
        <param name="conservative_reset_dist" value="3.0"/>
        <param name="recovery_behavior_enabled" value="true"/>
        <param name="clearing_rotation_allowed" value="true"/>
        <param name="shutdown_costmaps" value="false"/>
        <!-- reset frame_id parameters using user input data -->
        <param name="global_costmap/obstacles_layer/scan/sensor_frame" value="$(arg laser_frame)"/>
        <param name="local_costmap/obstacles_layer/scan/sensor_frame" value="$(arg laser_frame)"/>
        <param name="global_costmap/obstacles_layer/scan/topic" value="$(arg scan_topic)"/>
        <param name="local_costmap/obstacles_layer/scan/topic" value="$(arg scan_topic)"/>
        <param name="local_costmap/global_frame" value="$(arg odom_frame)"/>
        <param name="local_costmap/robot_base_frame" value="$(arg base_frame)"/>
        <param name="global_costmap/global_frame" value="$(arg global_frame)"/>
        <param name="global_costmap/robot_base_frame" value="$(arg base_frame)"/>
        <param name="TebLocalPlannerROS/map_frame" value="$(arg global_frame)"/>
        <param name="TebLocalPlannerROS/odom_topic" value="$(arg odom_topic)"/>
        <!-- Planners -->
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
        <param name="base_global_planner" type="string" value="navfn/NavfnROS"/>
        <param name="allow_unknown" value="False"/>
        <param name="default_tolerance" value="0.5"/>

	<!-- Global Params -->
        <param name="cost_factor" value="0.55"/>
	<param name="neutral_cost" value="66"/>
	<param name="lethal_cost" value="253"/>

    </node>

</launch>
