<?xml version="1.0"?>

<launch>
    <!-- Launch the pointcloud to laser scan node
           Reference:  http://wiki.ros.org/pointcloud_to_laserscan -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="p2l_2_node" respawn="true">
        <param name="min_height" value="0.05"/>
        <param name="max_height" value="3.0"/>
        <!-- full circle would be -pi to pi -->
        <!-- <param name="angle_min" value="-1.57"/> -->
        <!-- <param name="angle_max" value="1.57"/> -->
	<param name="angle_min" value="-3.14"/>
        <param name="angle_max" value="3.14"/>
	
        <!--  <param name="angle_increment" value="1.57/20" /> -->
        <!--<param name="scan_time" value="0.0" /> -->
        <param name="range_min" value="0"/>
        <param name="range_max" value="25.0"/>
        <param name="target_frame" value="base_link"/>
        <param name="concurrency_level" value="1"/>
        <!--<param name="use_inf" value="1.0" />-->
        <remap from="cloud_in" to="velodyne_points"/>
        <!--<remap from="cloud_in" to="/velodyne_cloud_registered"/>-->
        <remap from="scan" to="laser"/>
    </node>
    <!--<node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="p2l_2_node" respawn="true">-->
    <!--<param name="min_height" value="0.2" />-->
    <!--<param name="max_height" value="2.0" />-->
    <!--&lt;!&ndash; full circle would be -pi to pi &ndash;&gt;-->
    <!--<param name="angle_min" value="-1.57" />-->
    <!--<param name="angle_max" value="1.57" />-->
    <!--&lt;!&ndash;  <param name="angle_increment" value="1.57/20" /> &ndash;&gt;-->
    <!--&lt;!&ndash;<param name="scan_time" value="0.0" /> &ndash;&gt;-->
    <!--<param name="range_min" value="1" />-->
    <!--<param name="range_max" value="16.0" />-->
    <!--<param name="target_frame" value="base_link" />-->
    <!--<param name="concurrency_level" value="1" />-->
    <!--&lt;!&ndash;<param name="use_inf" value="1.0" />&ndash;&gt;-->
    <!--<remap from="cloud_in" to="velodyne_points"/>-->
    <!--&lt;!&ndash;<remap from="cloud_in" to="/velodyne_cloud_registered"/>&ndash;&gt;-->
    <!--<remap from="scan" to="laser"/>-->
    <!--</node>-->
</launch>
