<?xml version="1.0"?>
<launch>

    <!-- NOTE: TT_ROOT env varable must be set to TigerTaxi r-DCMAKE_BUILD_TYPE=release -DCATKIN_BLACKLIST_PACKAGES="safezone"oot directory -->
    <!-- NOTE: (building): catkin_make  -->

    <arg name="simulate" default="true"/>
    <arg name="collect_map" default="true"/>
    <arg name="use_static_map" default="false"/>
    <arg name="mapAddress" default="$(find tt_start)/maps/circle_jerk_map.bt"/>
    <arg name="rviz" default="true"/>

    <!-- Dependent on simulate (only true for simulation) -->
    <param name="/use_sim_time" value="$(arg simulate)"/>

    <!-- Simulation: Use Bag Files -->
    <group if="$(arg simulate)">
      <!-- TT_ROOT is base of project repo -->
      <node pkg="rosbag" type="play" name="teabag" output="screen"
            args="--clock --rate=1 --start=20 $(env TT_ROOT)/accel_ned.bag"/>
    </group>

    <!-- GUI/Visualization Nodes -->
    <group if="$(arg rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find tt_start)/map_costmaps_and_plans.rviz" output="screen"/>
    </group>

    <!-- TFs, odom used in all operation -->
    <include file="$(find tt_start)/launch/tt_tf.launch"/>
    <!-- Robot localization node -->
    <include file="$(find tt_start)/launch/ekf.launch"/>
    <!-- Loam packages -->
    <include file="$(find loam_velodyne)/launch/loam_velodyne.launch"/>
    <!-- Node to transform Loam into normal coordinate frame -->
    <include file="$(find odom_to_loam)/launch/odom_to_loam.launch"/>
    <!-- Filters out the golf-carts footprint -->
    <include file="$(find tt_start)/launch/robot_self_filter.launch"/>

    <!-- Unless we are simulating, launch sensor nodes -->
    <group unless="$(arg simulate)">
        <node name="camera_pub" pkg="camera_pub" type="camera_pub"/>
        <group>
            <!-- TODO: This has not been tested -->
            <remap from="/velodyne_points" to="/velodyne_points_raw"/>
            <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
        </group>
        <include file="$(find tt_start)/launch/vectornav.launch"/>
    </group>

    <!-- If we are collecting a map (manual driving) -->
    <group if="$(arg collect_map)">
        <include file="$(find tt_start)/launch/octomap.launch">
            <arg name="mapAddress" value="$(arg mapAddress)"/>
            <arg name="collectMap" value="$(arg collect_map)"/>
        </include>
    </group>

    <!-- Unless we are collecting a map (any driving mode) -->
     <group unless="$(arg collect_map)">
        <group if="$(arg use_static_map)">
            <include file="$(find tt_start)/launch/amcl.launch"/>

            <include file="$(find tt_start)/launch/octomap.launch">
                <arg name="mapAddress" value="$(arg mapAddress)"/>
                <arg name="collectMap" value="$(arg collect_map)"/>
            </include>
        </group>
    </group>
</launch>
